body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}                

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

img {
    width: 300px;
}

.map-overlay {
    font:
        16px/18px 'Calisto MT';
    position: absolute;
    width: 13.5%;
    min-width: fit-content;
    top: 0;
    left: 0;
    padding: 10px;
    padding-top: 85px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 8px;
    margin-bottom: 10px;
}

.map-overlay-inner fieldset {
    display: flex;
    border: none;
}

.map-overlay-inner label {
    font-weight: bold;
    margin-left: 5px;
    text-align: left;
}

.map-overlay-inner label.visible-layers-label {
    font:
        20px 'Calisto MT';
    font-weight: bold;
    padding-top: 5px;
}

#OpsVision {
    accent-color: #0000FF;
    cursor: pointer;
    height: 16px;
    width: 16px;
    /*outline: 1px solid #1e5180*/

}
#Reliance {
    accent-color: #FFA500;
    cursor: pointer;
    height: 16px;
    width: 16px;
    /*outline: 1px solid #1e5180*/
    
}
#Maximo {
    accent-color: #FFFF00;
    cursor: pointer;
    height: 16px;
    width: 16px;
    /*outline: 1px solid #1e5180*/
   
}
#SCC {
    accent-color: #800080;
    cursor: pointer;
    height: 16px;
    width: 16px;
    /*outline: 1px solid #1e5180*/
}
#All-Sites {
    accent-color: #FF0000;
    cursor: pointer;
    height: 16px;
    width: 16px;
    /*outline: 1px solid #1e5180*/
}

.popup-table {
    border-collapse: collapse;
    width: 100%;
}

.popup-table th,
.popup-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.popup-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.popup-table td:first-child {
    font-weight: bold;
}

h3 {
    font-size: 18px;
}

.dropdown-container {
    position: absolute;
    top: 0px; 
    left: 10px; 
    font-family: 'Calisto MT';
    font-size: 16px;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    margin-top: 15px;
    display: flex;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dropdown-container option {
    font-size: 14px;
}

.dropdown-container select {
    font-family: 'Calisto MT';
    font-size: 14px;
}

.dropdown-container label {
    font-weight: bold;
    text-align: left;
}

#menu {
    margin-left: 15px;
}


.file-upload-container {
    position: absolute;
    top: 12px; 
    right: 320px; 
    font-family: 'Calisto MT';
    /*font-size: 14px;*/
}

button {
    padding: 8px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: none;
    font-family: 'Calisto MT';
}

#upload-img {
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

#x-img {
    width: 20px;
    height: 20px;
}

.popup-container {
    display: none;
    background-color: white;
    width: 70%;
    height: fit-content;
    position: absolute;
    left: 20%;
    top: 25%;
    padding: 50px;
    font-family: 'Calisto MT';
    /*font-size: 24px;*/
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#upload-data-popup-label {
    font-size: 24px;
    font-weight: bold;
}

.popup-container.show {
    display: block;
}

.subtext {
    font-size: 18px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
}

/* CSS for password authentication form */
#authentication-form {
    margin-bottom: 20px;
}

#authentication-form label {
    display: block;
    margin-bottom: 10px;
}

#authentication-form input[type="password"],
#authentication-form input[type="text"] {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box; 
}

#authentication-form #show-password {
    margin-left: 5px;
    vertical-align: middle;
}

#authentication-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#authentication-form button:hover {
    background-color: #45a049;
}

#authentication-form p#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

#authentication-form .toggle-password-label {
    margin-left: 5px;
    cursor: pointer;
    font-size: 10px;
}

#authentication-form .toggle-password-label:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    align-items:flex-start;
}

#password label {
    font-size: 20px;
}

.search-bar {
    right: 10px;
    top: 10px;
}