body, html {
    margin: 0;
    padding: 0;
    background-color: black;
}                

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
}

img {
    width: 300px;
}

.map-overlay {
    font:
        16px/18px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    position: absolute;
    width: 13.5%;
    min-width: fit-content;
    top: 0;
    left: 0;
    padding: 10px;
    padding-top: 95px;
}

.map-overlay .map-overlay-inner {
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border-radius: 10px;
    padding: 8px;
}

.map-overlay-inner fieldset {
    display: flex;
    border: none;
}

.map-overlay-inner label {
    font-weight:500;
    margin-left: 5px;
    text-align: left;
}

.map-overlay-inner label.visible-layers-label {
    font:
        20px system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    padding-top: 5px;
}

.layers {
    cursor: pointer;
    height: 16px;
    width: 16px;
}

#OpsVision-MES {
    accent-color: #0000FF;
}

#OpsVision-Smart-Mfg {
    accent-color: #5d5dff;
}

#Reliance {
    accent-color: #FFA500;
}

#Maximo {
    accent-color: #FFFF00;
}

#SCC-Phase-1 {
    accent-color: #7d007d;
}

#SCC-Phase-2 {
    accent-color: #b100b1;
}

#All-Sites {
    accent-color: #FF0000;
}

#AWS {
    accent-color: #00000F;
}

.popup-table {
    border-collapse: collapse;
    width: 100%;
}

.popup-table th,
.popup-table td {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}

.popup-table th {
    background-color: #f2f2f2;
    font-weight: bold;
}

.popup-table td:first-child {
    font-weight: bold;
}

h3 {
    font-size: 18px;
}

.dropdown-container {
    position: absolute;
    top: 0px; 
    left: 10px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 16px;
    height: fit-content;
    width: fit-content;
    border-radius: 8px;
    margin-top: 15px;
    display: flex;
    padding: 10px 20px 10px 20px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

.dropdown-container option {
    font-size: 14px;
}

.dropdown-container select {
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 14px;
}

.dropdown-container label {
    font-weight: bold;
    text-align: left;
}

#menu {
    margin-left: 15px;
}


.file-upload-container {
    position: absolute;
    top: 12px; 
    right: 320px; 
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

}

button {
    padding: 8px 12px;
    background-color: #fff;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
    border: none;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: 500;
}

#upload-img {
    width: 14px;
    height: 14px;
    margin-right: 3px;
}

#x-img {
    width: 20px;
    height: 20px;
}

.popup-container {
    display: none;
    background-color: white;
    width: 60%;
    height: fit-content;
    position: absolute;
    left: 22%;
    top: 25%;
    padding: 50px;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    border-radius: 8px;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.1);
}

#upload-data-popup-label {
    font-size: 24px;
    font-weight: bold;
}

.popup-container.show {
    display: block;
}

.subtext {
    font-size: 16px;
}

.heading {
    font-size: 20px;
}

.close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    padding: 10px;
}

#authentication-form {
    margin-bottom: 20px;
}

#authentication-form label {
    display: block;
    margin-bottom: 10px;
}

#authentication-form input[type="password"],
#authentication-form input[type="text"] {
    width: 100%; 
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    display: inline-block;
    box-sizing: border-box; 
}

#authentication-form #show-password {
    margin-left: 5px;
    vertical-align: middle;
}

#authentication-form button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#authentication-form button:hover {
    background-color: #45a049;
}

#authentication-form p#error-message {
    color: red;
    font-size: 14px;
    margin-top: 10px;
    display: none;
}

#authentication-form .toggle-password-label {
    margin-left: 5px;
    cursor: pointer;
    font-size: 10px;
}

#authentication-form .toggle-password-label:hover {
    text-decoration: underline;
}

.row {
    display: flex;
    align-items:flex-start;
}

#password label {
    font-size: 20px;
}

.search-bar {
    right: 10px;
    top: 10px;
}

.success-message {
    position: fixed;
    bottom: 20px;
    left: 50%;
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    transform: translateX(-50%);
    background-color: rgba(0, 169, 0, 0.9); 
    color: white; 
    padding: 10px 20px; 
    border-radius: 5px;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1000; 
    display: inline-block;
    opacity: 0; 
    transition: opacity 0.3s ease-in-out;
}

.apply {
    border-width: 1px;
    padding: 6px 16px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    transition-duration: 0.4s;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0px 4px 6px rgba(0, 0.1, 0.1, 0.1);
    font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.apply:disabled {
    cursor: not-allowed;
}

a:link, a:visited {
    color:#0070E0;
    text-decoration: none;
}

.info-icon {
    width: 16px;
    height: 16px;
    margin-left: 5px;
    cursor: pointer;
}

.info-icon:hover + .subtext::after {
    opacity: 1; 
}

.tooltip {
    display: none;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.8);
    color: #fff;
    padding: 5px;
    border-radius: 5px;
    z-index: 1;
    width: 300px;
}

.tooltip-container {
    position: relative;
    display: inline-block; 
}

.tooltip-container:hover .tooltip {
    display: block;
}

.count {
    color: grey;
    font-size: 14px;
    font-style: italic;
}